$def with (content)
$var cssfiles: /static/secondcss.css

<div id = "main_wrapper">
	
<h1>Features</h1>

<!-- <a href = "/home"><img class = "BannerImage" src = "/static/GP_png.png" alt = "Test Banner(no image)"/></a> -->

<!-- <div id = "linkbar">
	<a id = "textbanner" href = "/phpbb"> <b>{FORUM}</b></a>
	<a id = "textbanner" href = "/blog"> <b>{blog}</b></a>
	<a id = "textbanner" href = "/features"> <b>{features}</b></a>
	<a id = "textbanner" href = "/about"> <b>{about}</b></a>
</div> -->

<div class="text">
$:content
</div>

<!--<div class = "featuresimage"> -->
<img  src = "static/images/GP_con.png" alt = "Under Construction(NI)"></img>
<!--</div> -->

<a href = "/home">go home</a>

<div id = "site_map" >

        <h3>Site Map</h3>
        <em>Copyright 2015 Game Proposals</em>

</div>


</div>
