$def with (content)
$var cssfiles: /static/maincss.css 


<div id = "mainwrapper"> <!--Main Wrapper Div-->

<a href = "/home"><img class = "BannerImage" src = "/static/GP_png.png" alt = "Test Banner(no image)"/></a>

<div id = "linkbar">
	<a id = "textbanner" href = "/gpforum"> <b>{FORUM}</b></a>
	<a id = "textbanner" href = "/blog"> <b>{blog}</b></a>
	<a id = "textbanner" href = "/features"> <b>{features}</b></a>
	<a id = "textbanner" href = "/about"> <b>{about}</b></a>
</div>

<div class = "introbox">

This is a site for people to post improvements to video games and 
video game sites that they wish were real!

</div>

<div class = "left-box">
	
	<em>Trending Posts</em>
	
</div>

<div class = "right-box">

	<em>Recent Posts</em>

</div>


<h1 id = "textbanner"> {News} </h1>

<div class="newsbody">

$if content:
	$:content
	
$else: 
	Not Linked
	
</div>
	
	

<div class = "bottomwrapper">
	<em>Copyright 2015 Game Proposals</em>
</div>

</div> <!-- End wrapper Div -->


